@charset "utf-8";
.draw_layout{
margin:0;
padding:0;
outline:0;
//font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ","ＭＳ Ｐゴシック",Verdana,Geneva,Arial,Helvetica,sans-serif;
font-family: Arial,sans-serif;
font-weight: normal;
color: rgb(102, 102, 102);
font-size:9px;
width:100%;
height:200px;
background:transparent;
}
.summary_layout{
float:left;
width:430px;
height:200px;
}
.object_id_layout{
width:100%;
margin:2px 2px 0px 0px;
}
.object_id_text{
}
.date_and_name_layout{
width:100%;
height:12px;
margin:4px 2px 0px 0px;
}

.date_text{
width:110px;
float:left;
padding-left:1px;
}
.object_name_text{
width:318px;
float:left;
}

.time_and_name_layout{
height:32px;
margin:4px 2px 0px 0px;
}

.time_box{
float:left;
width:110px;
height:100%;
}

.time_head_text{
display:block;
float:left;
width:32px;
line-height:32px;
//height:100%;
text-align:center;
}

.time_text{
float:left;
width:76px;
padding-top:5px;
padding-left:2px;
}

.name_box{
float:left;
padding-left:5px;
width:307px;
}
.name_text{
line-height:32px;
}

.summary_main_layout{
height:70px;
margin:0px 2px 0px 0px;
}
.summary_time_box{
float:left;
height:100%;
width:110px;
}

.summary_time_text{
line-height:52px;
text-align:center;
}
.summary_time_space{
height:20px;
}
.summary_in_use_layout{
float:left;
width:240px;
height:100%;
}

.detail_in_use{
height:52px;
}

.detail_count_area{
width:170px;
float:left;
line-height:52px;
padding-top:5px;
}

.detail_count_box{
width:28px;
height:36px;
float:left;
margin-left:1px;
margin-right:1px;
padding-top:2px;
padding-bottom:2px;
padding-left:1px;
padding-right:1px;
padding-top:5px;
}

.detail_count{
width:28px;
line-height:36px;
text-align:center;
}
.detail_count_c{
float:left;
}

.detail_unit_box{
float:left;
width:54px;
padding-left:4px;
}
.detail_unit_text{
line-height:52px;
}

.detail_border_box{
height:2px;
}
.detail_border_line{
margin-right:6px;
}

.detail_max_box{
height:20px;
line-height:20px;
}

.max_para_text{
float:left;
width:100px;
line-height:20px;
}

.max_number_text{
float:left;
line-height:20px;
}
.max_unit_text{
float:left;
line-height:20px;
}
.summary_percent_layout{
float:left;
width:72px;
line-height:70px;
margin-top:4px;
margin-bottom:4px;
}
.summary_percent_box{
float:left;
width:72px;
line-height:54px;
padding-top:10px;
padding-bottom:10px;
text-align:center;
margin:0;
}
.summary_percent_text{
float:left;
width:54px;
margin:0;
text-align:right;
}
.summary_percent_unit_text{
float:left;
width:18px;
line-height:44px;
padding-top:10px;
}
.summary_level_layout{
clear:both;
width:430px;
height:10px;
margin:2px 0px 0px 0px;
padding:2px 2px 0px 2px;
}
.summary_border_box{
float:left;
width:348px;
//padding-right:4px;
}
.summary_border_line{
display:block;
width:340px;
margin-left:2px;
margin-right:2px;
}
.summary_level_box{
float:left;
width:72px;
height:10px;
margin:0;
}
.summary_level_select_box{
float:left;
width:24px;
}
.summary_level_select_text{
line-height:10px;
text-align:center;
}
.summary_additional_layout{
height:36px;
margin:0px 2px 0px 0px;
}
.summary_additional_para_box{
float:left;
line-height:36px;
width:110px;
text-align:center;
}
.summary_additional_para_text{
}
.summary_additional_data_layout{
float:left;
width:240px;
line-height:36px;
}
.summary_addtional_data_text{
float:left;
width:60px;
height:100%;
}
.summary_addtional_data_unit_text{
float:left;
height:100%;
}
.summary_additional_level_layout{
float:left;
width:72px;
height:100%;
}

.summary_addtional_level_triangle_area{
height:10px;
text-align:center;
}
.summary_addtional_level_triangle_box{
float:left;
width:24px;
height:14px;
}

.summary_addtional_level_triangle_box{
width:24px;
line-height:14px;
text-align:center;
}
.summary_addtional_level_box{
clear:both;
width:72px;
height:16px;
text-align:center;
}
.summary_addtional_level_text{
width:72px;
line-height:16px;
}

.marquee{
width:100%;
height:20px;
}
.additional{
width:100%;
height:5px;
}
/*end*/
